@charset "UTF-8";
@font-face {
  font-family: 'mplus';
  src: url("../font/rounded-mplus-1c-black.ttf") format("truetype");
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'mplus';
  font-size: 14px;
  font-size: 1.4rem; }

.wrapper {
  min-width: 1200px; }

main {
  display: block; }

.header {
  position: relative;
  height: 105px;
  background-color: #28394B; }
  .header .title {
    text-align: center;
    font-size: 64px;
    line-height: 105px;
    color: white; }
  .header .logo {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -28px;
    width: 215px;
    height: 57px;
    background-image: url("../img/logo.svg");
    background-size: 215px;
    text-indent: -9999px; }

.list {
  position: relative; }
  .list .item {
    position: relative;
    box-sizing: border-box;
    width: 440px;
    margin: 60px auto;
    padding: 15px 30px;
    background-color: white;
    background-image: url("../img/icon-list.svg");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 380px 50%;
    border: 1px solid #212D3C;
    border-radius: 10px;
    line-height: 1;
    font-size: 36px;
    text-align: left;
    color: #364B64; }
    .list .item a {
      color: inherit;
      text-decoration: inherit; }
    .list .item.hover, .list .item:hover {
      background-color: #D7E1EE; }
    .list .item .link {
      width: 100%;
      height: 100%; }
      .list .item .link:before {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
      .list .item .link:before {
        content: ""; }
