doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title
      | ほしいものリスト？
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      header
        h1(data-heading-level='1')
          | ほしいものリスト？
        .logo
          | andosan.co.jp
      main
        ul.list
          mixin item(name, href)
            li.item
              a(href= href, target="amazon")
                = name
          +item('ほしいものリスト_干し芋', 'http://www.amazon.co.jp/registry/wishlist/2WGPQ8UUQLGM5')
          +item('ほしいものリスト_MONO', 'http://www.amazon.co.jp/registry/wishlist/1VUXPLJR4J5SI')
          +item('ほしいものリスト_藻', 'http://www.amazon.co.jp/registry/wishlist/JX0SKEZEDTIH')
          +item('ほしいひものリスト_紐', 'http://www.amazon.co.jp/registry/wishlist/2PWY0QF8Q76M8')
          +item('ほしいひものリスト_干物', 'http://www.amazon.co.jp/registry/wishlist/35KVH52JQJ7W')
          +item('ほしいいものリスト_鋳物', 'http://www.amazon.co.jp/registry/wishlist/14CE2BSQX87FI')
          +item('ほしいもののリスト_ほしいものの', 'http://www.amazon.co.jp/registry/wishlist/RSFNYHIUIKPZ')

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/lodash.min.js')
    script(src='js/main.js')