doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title
      | ほしいものリスト？
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      header.header
        h1.title(data-heading-level='1')
          | ほしいものリスト？
        .logo
          | andosan.co.jp
      main
        ul.list
          mixin item(rawName, compiledName, href)
            li.item(data-compiled= compiledName)
              a.link(href= href, target="amazon")
                = rawName
          +item('ほしいものリスト',   '干し芋のリスト',    'http://www.amazon.co.jp/registry/wishlist/2WGPQ8UUQLGM5')
          +item('ほしいものリスト',   'ほしいMONOリスト', 'http://www.amazon.co.jp/registry/wishlist/1VUXPLJR4J5SI')
          +item('ほしいものリスト',   'ほしい藻のリスト',  'http://www.amazon.co.jp/registry/wishlist/JX0SKEZEDTIH')
          +item('ほしいいものリスト', 'ほしい鋳物リスト',  'http://www.amazon.co.jp/registry/wishlist/14CE2BSQX87FI')
          +item('ほしいひものリスト', 'ほしい紐のリスト',  'http://www.amazon.co.jp/registry/wishlist/2PWY0QF8Q76M8')
          +item('ほしいひものリスト', 'ほしい干物リスト',  'http://www.amazon.co.jp/registry/wishlist/35KVH52JQJ7W')
          +item('ほしいもののリスト', 'ほしいものの…リスト', 'http://www.amazon.co.jp/registry/wishlist/RSFNYHIUIKPZ')
          +item('ほしいのもリスト',   'ほしい野茂リスト',  'http://www.amazon.co.jp/registry/wishlist/AHNEC59C9Y69')

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/lodash.min.js')
    script(src='js/main.js')