@function image-url($path) {
  @return url('../img/#{$path}');
}

@font-face{ 
  font-family: 'mplus';
  src: url('../font/rounded-mplus-1c-black.ttf') format('truetype');
  font-weight: normal; /* 念の為指定しておきます */
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'mplus';
  font-size: 1.4rem;

  background-image: image-url("bg.svg");
  background-size: 490px;
}

.wrapper {
  min-width: 375px;
}

main {
  display: block;
}

.header {
  $h: 105px;

  position: relative;

  height: $h;

  background-color: #28394B;

  .title {
    text-align: right;
    font-size: 32px;

    padding-right: 10px;

    line-height: $h;

    color: white;
  }

  .logo {
    position: absolute;

    left: 10px;
    top: 50%;

    margin-top: -28px;

    width: 236px;
    height: 75px;

    background-image: image-url('logo.svg');
    background-size: 236px;
    background-repeat: no-repeat;

    text-indent: -9999px;
  }
}

.list {
  position: relative;

  .item {
    a {
      color: inherit;
      text-decoration: inherit;
    }

    position: relative;

    box-sizing: border-box;

    width: 440px;

    margin: 60px auto;

    padding: 15px 30px;

    background-color: white;
    background-image: image-url('icon-list.svg');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 380px 50%;

    border: 1px solid #212D3C;
    border-radius: 10px;

    line-height: 1;

    font-size: 36px;

    text-align: left;

    color: #364B64;

    &.hover {
      background-color: #f1ab63;
    }
    &:hover {
      @extend .hover;
    }

    .link {
      width: 100%;
      height: 100%;

      &%click-area {
        position: absolute;

        width: 100%;
        height: 100%;

        left: 0;
        top: 0;
      }
      &::before {
        content: "";

        @extend %click-area;
      }
    }
  }
}
